@ body {
    text-align: center;
}

#page-wrap {
    display: grid;
    /*grid-template-columns: repeat(1, 1fr);*/
    text-align: left;
}

#page-wrap1 {

    display: grid;
    text-align: left;
    grid-column: 1 / 3;
    /*position:relative;*/

    /*grid-template-columns: repeat(1, 1fr);*/

}

#page-wrap2 {

    display: grid;
    text-align: left;
    grid-column: 3 / 6;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
        /*position:fixed;*/


}

#page-wrap4 {
    display: grid;
    /*grid-template-columns: repeat(1, 1fr);*/
    text-align: left;
        /*position:relative;*/

}

#page-wrap5 {

    display: grid;
    text-align: left;
    grid-column: 1 / 3;
    width: 300px;
        /*position:relative;*/


    /*grid-template-columns: repeat(1, 1fr);*/

}

#page-wrap6 {

    display: grid;
    text-align: left;
    grid-column: 3 / 6;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
    /*position:fixed;*/
}

.id1 {
    display: grid;
    text-align: left;

    margin-right: 10px;
    grid-column: 1 / 5;
    grid-row: 4;
}

.id2 {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
    grid-row: 5;
}

.EmptySpace {
    grid-row: 6;
}

.id3 {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
    grid-row: 7;
}

.id4 {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
    grid-row: 8;
}

.EmptySpace2 {
    grid-row: 9;
}

.DarkMinimalisticScrollbar {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
    grid-row: 10;
}

.YouTubeCustomColors {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
    grid-row: 11;
}

.EmptySpace3 {
    grid-row: 12;
}

.embededModifications {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
    grid-row: 13;
}

.facebookSpecificModifications {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
    grid-row: 14;
}

.redditSpecificModifications {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
    grid-row: 15;
}

.EmptySpace4 {
    grid-row: 16;
}

.colourPicker {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
    grid-row: 17;
}

.text {
    width: 300px;
    grid-column: 1 / 3;
}

.object {

    padding-top: 8px;
    grid-column: 3 / 4;
}

.button {

    padding-top: 8px;
    padding-left: 8px;
    grid-column: 4 / 5;
}

.webpageexample {
    display: table;
    text-align: left;
    grid-column: 1 / 6;
    grid-row: 2;
}

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.text2 {
    display: grid;
    grid-column: 1 / 3;
}

.object2 {
    display: grid;
    grid-column: 3 / 4;
}

.btn {
	background-color:#7892c2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:9px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}

.myButton {
	background-color:#c123de;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:9px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.myButton:hover {
	background-color:#a20dbd;
}
.myButton:active {
	position:relative;
	top:1px;
}

#myColor {
    height: 30px;
    margin-top: -15px;
}

.myButton2 {
    -moz-box-shadow:inset 0px 0px 15px 3px #54a3f7;
	-webkit-box-shadow:inset 0px 0px 15px 3px #54a3f7;
	box-shadow:inset 0px 0px 15px 3px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:12px;
	padding:9px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton2:active {
	position:relative;
	top:1px;
}

#ButtonGroup1 {
    display: grid;


    /*text-align: left;*/
    grid-column: 1 / 3;
    /*grid-template-columns: repeat(1, 1fr);*/
    grid-row: 1;
    grid-template-rows: 40px;
      align-items: start;

}

#ButtonGroup2 {
    display: grid;


    /*text-align: left;*/
    grid-column: 1 / 4;
    /*grid-template-columns: repeat(1, 1fr);*/
    grid-row: 2;
    grid-template-rows: 40px;
      align-items: start;

}

#ButtonGroup3 {
    display: grid;


    /*text-align: left;*/
    grid-column: 1 / 2;
    /*grid-template-columns: repeat(1, 1fr);*/
    grid-row: 3;
      grid-template-rows: 40px;
      align-items: start;

}


#ButtonGroup4 {
    display: grid;
    /*text-align: left;*/
    /*grid-column: 1 / 6;*/
    grid-template-columns: repeat(1, 1fr);
    grid-row: 1;
      grid-template-rows: 40px;
      align-items: start;


}


#ButtonGroup5{
    display: grid;
    /*text-align: left;*/
    /*grid-column: 1 / 6;*/

    grid-template-columns: repeat(1, 1fr);
    grid-row: 1;
      grid-template-rows: 40px;



}

/*div.col-1-2 {*/
    /*!*float: left;*!*/
    /*width: 50%!important;*/
  /*}*/

.showGeneratedCss{
    display: table;
    /*margin: auto;*/
    grid-column: 1 / 2;
    grid-row: 1;
}

.generateCss{
    display: table;
    /*margin: auto;*/
    grid-column: 2 / 3;
    grid-row: 1;
}

.resetCss{
    display: table;
    /*margin: auto;*/
    grid-column: 3 / 4;
    grid-row: 1;
}

.getCssFromJson{
    display: table;
    /*margin: auto;*/
    grid-column: 1 / 2;
    grid-row: 1;
}

.GetExternalCss{
    display: table;
    /*margin: auto;*/
    grid-column: 2 / 3;
    grid-row: 1;
}

.getCssFromStylish{
    display: table;
    /*margin: auto;*/
    grid-column: 3 / 4;
    grid-row: 1;
}

.AddNewCssFunction{
    display: table;
    grid-column: 1 / 2;
    /*grid-row: 1;*/
}

.RemoveNewCssFunction{
    display: table;
    grid-column: 2 / 3;
    /*grid-row: 1;*/
}

.buttonForExampleWebpage1 {
    display: inline-flex;
    grid-column: 1 / 2;
        grid-row: 1;
}

.buttonForExampleWebpage2 {
    display: inline-flex;
    grid-column: 2 / 3;
        grid-row: 1;
}

.buttonForExampleWebpage3 {
    display: inline-flex;
    grid-column: 3 / 4;
        grid-row: 1;
}
.buttonForExampleWebpage4 {
    display: inline-flex;
    grid-column: 4 / 5;
        grid-row: 1;
}



.buttonForExampleWebpageOpen {
    display: inline-flex;
    grid-column: 5 / 6;
        grid-row: 1;
}

#dialogAddNewCssFunction{
    display: grid;
    /*text-align: left;*/
    /*grid-column: 1 / 3;*/
    /*grid-template-columns: repeat(2, 1fr);*/


    /*width: 400px;!important;*/
    /*height: 17px;!important;*/
    /*min-width: 300px; !important;*/
    /*max-width: 500px; !important;*/
    /*min-height: 20px; !important;*/
    /*max-height: 20px; !important;*/
}

#controlDiv{
    /*display: inline-flex;*/

    /*min-width: 400px; !important;*/
    /*min-height: 20px; !important;*/


}




.fieldForDialog {
    display: grid;

    grid-column: 1 / 2;
        grid-row: 1;

}
.ButtonForDialog {
    display: grid;

    grid-column: 1 / 2;
        grid-row: 2;

}

.fixed{
    /*background-color:green;*/
    /*width:500px;*/
    /*height:100px;*/
    /* padding:800px; */
    /* margin:0px; */
    margin-left: 510px;
    /* z-index:1; */
    position:fixed;
    /* top:0px; */


    /*float: right;*/
    /*width: 70%;*/
}

.relative{
    /*height:1000px;*/
    width:500px;
    /*margin-top:100px;*/
    /* z-index:10; */
    /*background-color:red;*/
    position:relative;

    /*float: left;*/
    /*width: 30%;*/
}

.fixed2{
    /*background-color:yellow;*/
    /*width:500px;*/
    /*height:100px;*/
    /* padding:800px; */
    /* margin:0px; */
    margin-left: 510px;
    /* z-index:1; */
    position:fixed;
    /* top:0px; */

    /*float: right;*/
    /*width: 70%;*/

}

.relative2{
    /*height:1000px;*/
    width:500px;
    padding-left: 10px;

    /*margin-top:100px;*/
    /* z-index:10; */
    /*background-color:blue;*/
    position:relative;

    /*float: left;*/
    /*width: 30%;*/
}


div.ButtonGroup6{
    display: grid;
    /*text-align: left;*/
    /*grid-column: 1 / 6;*/

    /*grid-template-columns: repeat(1, 1fr);*/
    grid-row: 1;
      /*grid-template-rows: 40px;*/



}

div.col-1-2-1 {
    width: 100%;
    grid-row: 1;
}

div.col-1-2-2 {
    width: 100%;
    float:right;
    display:inline-block;
    text-align:right;
    grid-row: 1;
}

.buttonForExampleWebpage5{
    /*display: inline-flex;*/
    /*grid-column: 9 / 10;*/
        grid-row: 1;
}