<!--THISSTRINGMAKESTHISLINEDELETABLE-->
<script>
function {{SpanClassId}}(checkbox) {
    if (checkbox.checked) {
        $.get("api/foo/?a={{SpanClassId}}on", function(response) {});
    }
    if (!checkbox.checked) {
        $.get("api/foo/?a={{SpanClassId}}off", function(response) {});
    }
}
</script>
<span class="{{SpanClassId}}">
    <div class="text">
        <p>
            <b>{{nameOfCssConstructor}}</b>
        </p>
    </div>
    <div class="object">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{SpanClassId}}"  checked onchange="{{SpanClassId}}(this)">
            <label class="onoffswitch-label" for="{{SpanClassId}}">
                <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    <div class="button">
        <input type="button" id="buttonForLaunchingSecondWindow-{{SpanClassId}}" value="Edit CSS" class="btn" onclick="callParentWindowToEditCss(this)" />
    </div>
</span>
<style>
.{{SpanClassId}} {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
}
</style>