<!--THISSTRINGMAKESTHISLINEDELETABLE-->
<script>
document.getElementById("Blacksssssssss").checked = false;
function callParentWindowToEditCsssssssssss(thisDiv) {
    console.log('callParentWindowToEditCsssssssssss');
}
</script>
<span class="id1sssssssss">
    <div class="text">
        <p>
            <b>{{nameOfCssConstructor}}</b>
        </p>
    </div>
    <div class="object">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="Blacksssssssss" checked onchange="Black(this)"> <label class="onoffswitch-label" for="Blacksssssssss"> <span
                        class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
                    </label>
        </div>
    </div>
    <div class="button">
        <input type="button" id="buttonForLaunchingSecondWindow-dataDarksssssssss" value="Edit CSS" class="btn" onclick="callParentWindowToEditCsssssssssss(this)" />
    </div>
</span>
<style>
.id1sssssssss {
    display: grid;
    text-align: left;
    margin-right: 10px;
    grid-column: 1 / 5;
    /*grid-row: 17;*/
}
</style>