<html xmlns:font-family="http://www.w3.org/1999/xhtml">
<header>
    <title>Alarmsystem</title>
</header>
<script src="http://zeptojs.com/zepto.min.js"></script>

<script type="text/javascript" src="js/script.js"></script>
<!--<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>-->


<link rel="stylesheet" href="css/layout.css" type="text/css">

<!--<link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css">-->
<!--<link rel="stylesheet" href="bootstrap/css/custom.css" />-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<body>
    <div id="page-wrap">
        <div id="page-wrap1">

            <div class="id1">
                <div class="text">
                    <p>
                        <b>Black theme</b>
                    </p>
                </div>
                <div class="object">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="Black" checked onchange="Black(this)"> <label class="onoffswitch-label" for="Black"> <span
                                    class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
                                </label>
                    </div>
                </div>
                <div class="button">
                    <input type="button" id="buttonForLaunchingSecondWindow-Black" value="Edit CSS" class="btn" onclick="callParentWindowToEditCss(this)" />
                </div>
            </div>

            <div class="id2">
                <div class="text">
                    <p>
                        <b>White theme</b>
                    </p>
                </div>
                <div class="object">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="White" checked onchange="White(this)"> <label class="onoffswitch-label" for="White"> <span
                            class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="button">
                    <input type="button" id="buttonForLaunchingSecondWindow-White" value="Edit CSS" class="btn" onclick="callParentWindowToEditCss(this)" />
                </div>
            </div>

            <div class="EmptySpace">
                &emsp;
            </div>

            <div class="id3">
                <div class="text">
                    <p>
                        <b>Pointer modifications</b>
                    </p>
                </div>
                <div class="object">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="Pointer" checked onchange="Pointer(this)"> <label class="onoffswitch-label" for="Pointer"> <span
                                    class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
                                </label>
                    </div>
                </div>
            </div>

            <div class="id4">
                <div class="text">
                    <p>
                        <b>Webpage specific modifications</b>
                    </p>
                </div>
                <div class="object">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="specific" checked onchange="specific(this)"> <label class="onoffswitch-label" for="specific"> <span
                            class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="EmptySpace2">
                &emsp;
            </div>

            <div class="colourPicker">
                <div class="text">
                    <p>
                        <b>Custom Page Colours</b>
                    </p>
                </div>
                <div class="object">
                    <br/>
                    <input type="color" id="myColor" onchange="colourPickerFunction()"  />
                    <p id="demo"></p>
                </div>
            </div>

            <div class="EmptySpace3">
                &emsp;
            </div>

            <div class="DarkMinimalisticScrollbar">
                <div class="text">
                    <p>
                        <b>Dark minimalistic scrollbar</b>
                    </p>
                </div>
                <div class="object">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="DarkMinimalisticScrollbar" checked onchange="DarkMinimalisticScrollbar(this)"> <label class="onoffswitch-label" for="DarkMinimalisticScrollbar"> <span
                                    class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
                                </label>
                    </div>
                </div>
            </div>

            <div class="YouTubeCustomColors">
                <div class="text">
                    <p>
                        <b>YouTube - Custom colors video progress bar </b>
                    </p>
                </div>
                <div class="object">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="YouTubeCustomColors" checked onchange="YouTubeCustomColors(this)"> <label class="onoffswitch-label" for="YouTubeCustomColors"> <span
                            class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="EmptySpace4">
                &emsp;
            </div>

            <div class="embededModifications">
                <div class="text">
                    <p>
                        <b>Embedded Modifications</b>
                    </p>
                </div>
                <div class="object">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="embededModifications" checked onchange="embededModifications(this)"> <label class="onoffswitch-label" for="embededModifications"> <span
                                    class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
                                </label>
                    </div>
                </div>
            </div>

            <div class="facebookSpecificModifications">
                <div class="text">
                    <p>
                        <b>Facebook Specific Modifications</b>
                    </p>
                </div>
                <div class="object">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="facebookSpecificModifications" checked onchange="facebookSpecificModifications(this)"> <label class="onoffswitch-label" for="facebookSpecificModifications"> <span
                                    class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
                                </label>
                    </div>
                </div>
            </div>

            <div class="redditSpecificModifications">
                <div class="text">
                    <p>
                        <b>Reddit Specific Modifications</b>
                    </p>
                </div>
                <div class="object">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="redditSpecificModifications" checked onchange="redditSpecificModifications(this)"> <label class="onoffswitch-label" for="redditSpecificModifications"> <span
                            class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="EmptySpace5">
                &emsp;
            </div>

            <div class="generateCss">
                <input type="button" value="Generate Css" onclick="generateCss()" />
            </div>

            <div class="getCssFromJson">
                <input type="button" value="Get Css From Json" onclick="getCssFromJson()" />
            </div>

            <div class="resetCss">
                <input type="button" value="Reset Css" onclick="resetCss()" />
            </div>

        </div>

        <div id="page-wrap2">
            <div class="buttonForExampleWebpage1">
                <input type="button" value="www.theguardian.com/" onclick="GoToWebsite1()" />
            </div>
            <div class="buttonForExampleWebpage2">
                <input type="button" value="www.reddit.com" onclick="GoToWebsite2()" />
            </div>
            <div class="buttonForExampleWebpage3">
                <input type="button" value="www.youtube.com" onclick="GoToWebsite3()" />
            </div>
            <div class="buttonForExampleWebpage4">
                <input type="button" value="www.facebook.com" onclick="GoToWebsite4()" />
            </div>

             <div class="buttonForExampleWebpageOpen">
                <form action="javascript:completeAndRedirect(Edit1);">
                    <div class="text2">
                            <input type="text" id="Edit1" font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size:22px">
                    </div>

                    <div class="object2">
                            <input type="submit" value="Submit">
                    </div>
                </form>
             </div>

            <div class="webpageexample">
                <iframe src="http://127.0.0.1:5000/webpageexample" width="1300" height="900" id="webpageexampleId">
                    alternative content for browsers which do not support iframe.
                </iframe>
            </div>

        </div>

    </div>

</body>

</html>